body{
	background-image: linear-gradient(to right,orange, white, green);
	
}

.background-color {
    background-image: linear-gradient(to right,orange, white, green);
}

 .card-block {
 	margin-top: 140px; 
 	margin-left: 50px;
 	margin-right: 50px;
 	margin-bottom: 50px;

 }

 .card-block-contributions { 
 	margin-left: 50px;
 	margin-right: 50px;
 	margin-bottom: 5px;

 }

 .card-display {
 	display: inline-block;
 }


.container {
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.opacity {
	opacity: 0.9;
}



.box {
	padding: 15px;
	text-align: center;
    border: 1px solid green;
    border-radius: 10px;
    width: 215px;
    height: 300px;
    background: white;
    margin: 10px 20px;
    transition: 1s;
    opacity:0.7;
}

.box:hover {
	transform: scale(1.1);
}


